<p-card>
    <p-carousel [value]="data" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="5000" [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">
            <p-divider type="dashed">{{Title}}</p-divider>
        </ng-template>
        <ng-template let-product pTemplate="item">
            <div class="product-item">
                <div class="product-item-content">
                    <div class="mb-3">
                        <a routerLink="products/{{product._id}}"><img src="{{product.image}}" [alt]="product.name_product" class="product-image" /></a>
                    </div>
                    <div>
                        <a routerLink="products/{{product._id}}" class="mb-1"><h1>{{product.name_product}}</h1></a>
                        <h4 class="mt-0 mb-3">${{product.price}}</h4>
                        <h6 class="text-muted">{{product.categoryId.catename}}</h6>
                        <div class="car-buttons mt-5">
                            <p-button type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-heart"></p-button>
                            <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-shopping-bag"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</p-card>