<a [routerLink]="'/admin/products'" mat-raised-button>List products</a>

<p-card>
    <form action="" [formGroup]="AddForm" (ngSubmit)="addNew()">
        <p-toast position="top-right"></p-toast>

        <div class="d-flex gap-3">
            <div class="col col-lg-6">
                <div class="mb-4">
                    <label for="">Chọn ảnh chính </label>
                    <input type="file" name="image" (change)="saveFileThumail($event)" formControlName="image"
                        class="form-control" />
                </div>
                <div class="mb-4">
                    <label for="">Chọn ảnh chi tiết (chọn nhiều) </label>
                    <input type="file" name="image" (change)="saveDetailImg($event)" multiple
                        formControlName="image_mutiple" class="form-control" />
                </div>
                <div class="mb-4">
                    <mdb-form-control>
                        <input mdbLabel type="text" formControlName="name_product" class="form-control" />
                        <label mdbInput class="form-label" for="name_product">Name</label>
                    </mdb-form-control>
                </div>
                <div class="mb-4">
                    <mdb-form-control>
                        <input mdbLabel type="number" formControlName="price" class="form-control" />
                        <label mdbInput class="form-label" for="price">price</label>
                    </mdb-form-control>
                </div>

                <div class="mb-4">
                    <mdb-form-control>
                        <input mdbLabel type="number" formControlName="stock" class="form-control" />
                        <label mdbInput class="form-label" for="stock">stocks</label>
                    </mdb-form-control>
                </div>
                <div class="mb-4">
                    <div class="form-group">
                        <label for="">Choose Category</label>
                        <select class="form-control" formControlName="categoryId" id="">
                            <option value="{{ item._id }}" *ngFor="let item of categories">
                                {{ item.catename }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col col-lg-6">
                <div class="mb-4">
                    <mdb-form-control>
                        <input mdbLabel type="number" formControlName="discount" class="form-control" />
                        <label mdbInput class="form-label" for="discount">discounts</label>
                    </mdb-form-control>
                </div>
                <div class="mb-4">
                    <p-editor formControlName="desc" [style]="{ height: '130px' }"></p-editor>
                </div>
                <div class="mb-4">
                    <div class="form-group">
                        <label for="">Choose Brands</label>
                        <select class="form-control" formControlName="brandId" id="">
                            <option value="{{ item._id }}" *ngFor="let item of brands">
                                {{ item.brandName }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="mb-4">
                    <mdb-form-control>
                        <input mdbLabel type="text" formControlName="short_desc" class="form-control" />
                        <label mdbInput class="form-label" for="short_desc">short_descs</label>
                    </mdb-form-control>
                </div>
                <div class="mb-4">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" (change)="checkCheckBoxvalue($event)" />
                        <label class="form-check-label">Featured products ??</label>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary btn-sm">Submit</button>
                </div>
            </div>
        </div>
    </form>
</p-card>