<a [routerLink]="'/admin/users'" mat-raised-button>List user</a>
<p-card>
    <form action="" [formGroup]="userForm" (ngSubmit)="addUser()">
        <p-toast position="top-right"></p-toast>
        <div class="mb-4">
            <input type="file" name="image" (change)="saveFileThumail($event)" formControlName="image"
                class="form-control" />
        </div>
        <div class="mb-4">
            <mdb-form-control>
                <input mdbLabel type="email" formControlName="email" class="form-control" />
                <label mdbInput class="form-label" for="email">Email Address</label>
            </mdb-form-control>
        </div>
        <div class="mb-4">
            <mdb-form-control>
                <input mdbLabel type="password" formControlName="password" class="form-control" />
                <label mdbInput class="form-label" for="password">Password</label>
            </mdb-form-control>
        </div>

        <div class="mb-4">
            <mdb-form-control>
                <input mdbLabel type="email" formControlName="username" class="form-control" />
                <label mdbInput class="form-label" for="username">username</label>
            </mdb-form-control>
        </div>
        <div class="mb-4">
            <mdb-form-control>
                <input mdbLabel type="email" formControlName="phoneNumber" class="form-control" />
                <label mdbInput class="form-label" for="phoneNumber">phoneNumbers</label>
            </mdb-form-control>
        </div>
        <div class="mb-4">
            <mdb-form-control>
                <input mdbLabel type="email" formControlName="address" class="form-control" />
                <label mdbInput class="form-label" for="address">Address</label>
            </mdb-form-control>
        </div>
        <div class="mb-4">
            <div class="form-group">
                <label for="">Choose User Role</label>
                <select (change)="selectOption($event)" class="form-select">
                    <option [value]="item.value" *ngFor="let item of roles">
                        {{ item.name }}
                    </option>
                </select>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <button class="btn btn-primary btn-sm">Submit</button>
        </div>
    </form>
</p-card>